.app {
  background-color: #abdefe;
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10%;
  justify-content: center;
  align-items: center;
  color: #0270c1;
}

form {
  display: none;
}
