.blue {
  --light-color: #abdefe;
  --dark-color: #0270c1;
}

.purple {
  --light-color: #f4abfe;
  --dark-color: #b202c1;
}

.orange {
  --light-color: #fecbab;
  --dark-color: #c15302;
}

.green {
  --light-color: #b5feab;
  --dark-color: #10c102;
}

.app {
  background-color: var(--light-color);
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 100vh;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10%;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
}

.widget {
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--light-color);
  & button {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
}

button {
  border: none;
  border-radius: 12px;
  &:hover {
    cursor: pointer;
  }
}
